.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  pointer-events: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  .custom-toggle--checkbox .custom-toggle__icon {
    margin: 0;
    top: size(-5px);
    border: 1px solid rgba(72, 72, 72, 0.3);

    @include vp-767 {
      top: size(2px);
    }
  }

  .custom-select.is-invalid .custom-select__button {
    border: 1px solid #FF5E66;
    background: rgba(255, 94, 102, 0.2);
  }

  .custom-select__button {
    border: 1px solid rgba(72, 72, 72, 0.3);
  }
}

.modal__holder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background-color: $color-overlay-form;
}

.modal__wrapper {
  position: relative;
  min-height: size(611px);
  width: size(510px);

  @include vp-767 {
    width: size(290px);
  }

}

.modal__body {

  height: size(611px);
  border-radius: size(16px);
  background-color: $color-default-white;
  padding: size(60px) size(80px);

  @include vp-767 {
    padding: size(40px) size(15px);
    height: size(521px);
  }

  h2 {
    color: $color-additional;
    font-size: size(32px);
    line-height: size(36px);
    margin-bottom: size(20px);
    text-align: center;

    @include vp-767 {
      font-size: size(18px);
      line-height: size(18px);
    }
  }
}

.modal__text {
  margin: 0 auto;
  margin-bottom: size(15px);
  width: size(350px);
  text-align: center;

  @include vp-767 {
    width: size(220px);
    font-size: size(14px);
    line-height: size(20px);
  }
}

.modal__select {
  display: flex;
  flex-direction: column;
  gap: size(12px);
  width: 100%;
  padding: 0;


  p {
    font-size: size(14px);
    line-height: size(14px);

    @include vp-767 {
      font-size: size(12px);
      line-height: size(14px);
    }
  }
}

.modal__close-btn {
  position: absolute;
  top: size(30px);
  right: size(30px);
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: size(18px);
  height: size(18px);
  border: none;
  background-color: transparent;

  svg {
    color: $color-additional;
    width: size(18px);
    height: size(18px);
  }
}

.modal__button {
  border-color: transparent;
  border-color: $color-additional;
  width: size(194px);
  justify-content: space-between;
  margin: 0 auto;
  margin-top: size(30px);

  @include vp-767 {
    margin-top: size(30px);
  }

  div {
    background-color: $color-additional;
  }

  svg {
    color: $color-default-white;
  }

  @include hover-focus {
    background-color: $color-default-white;

    p {
      color: $color-additional;
      margin: 0;
    }

    div {
      background-color: $color-additional;
    }

    svg {
      color: $color-default-white;
      transform: rotate(45deg);
    }
  }
}

.modal__custom-toggle {
  padding: 0;
  width: 100%;

  p {
    @include vp-767 {
      font-size: size(12px);
      line-height: size(14px);
    }
  }
}

.modal__button:disabled {
  pointer-events: none;
  border-color: $color-disabled;

  p {
    color: $color-disabled;
    margin: 0;
  }

  div {
    background-color: $color-disabled;
  }
}

.modal__input-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: max-content;
  margin: 0;
  padding: 0;
  flex-shrink: 1;
  gap: size(20px);

  @include vp-767 {
    gap: 0;
    height: size(271px);
    justify-content: space-between;
  }
}

.modal__select-header {
  margin: 0;
}

.modal__input-item {
  label {
    display: flex;
    flex-direction: column;
    gap: size(12px);
    font-size: size(14px);
    line-height: size(18px);
    opacity: 0.8;

    @include vp-767 {
      font-size: size(12px);
      line-height: size(14px);
      gap: size(11px);
    }
  }

  input {
    background-color: transparent;
    width: 100%;
    height: size(50px);
    border: 1px solid rgba(72, 72, 72, 0.3);
    border-radius: size(8px);
    color: $color-primary;
    padding: size(16px) size(25px);

    @include vp-767 {
      height: size(44px);
    }

    &:hover,
    &:focus,
    &:active {
      border: 1px solid #000000;
      outline: none;
    }

    &:disabled {
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 0.4;
      border: 1px solid rgba(169, 175, 183, 0.5);
    }
  }
}

.modal__input-item.is-invalid {

  input {
    border: 1px solid $color-error;
    background-color: rgba(255, 94, 102, 0.2);
  }
}

.modal__select-icon {
  margin-right: size(9px);
  width: size(15px);
  height: size(8px);
  background-color: $color-default-white;
  opacity: 1;
}

.modal__toggle-label {
  font-size: size(12px);
  line-height: size(12px);
  opacity: 0.9;
  margin: 0;
}

.modal.is-active {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  pointer-events: auto;
}
