.programs {
  position: relative;
  padding-top: size(120px);
}

.programs__header-holder {
  display: flex;
  justify-content: space-between;
  padding-right: size(100px);
  padding-left: size(100px);
  @include vp-1439 {
    padding-right: size(45px);
    padding-left: size(45px);
  }
}

.programs__info-button {
  border: none;
  padding: 0;

  @include hover-focus {
    background-color: $color-additional;

    div {
      background-color: $color-default-white;
    }

    border: size(1px) solid $color-additional;
  }
}

.programs__slider {
  padding: size(40px) 0;
  padding-bottom: 0;
}

.programs__slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs__slider-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border-radius: size(12px);
  overflow: hidden;

  @include vp-1439 {
    max-width: size(324px);
    height: size(420px);
  }

  @include vp-767 {
    width: size(290px);
    height: size(400px);
  }

  img {
    object-fit: cover;
  }
}

.programs__slider-img {
  grid-column: 1/2;
  grid-row: 1/2;
}

.programs__slider-overlay {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: $color-overlay;
}

.programs__slider-img img {
  min-width: size(392px);
  object-fit: cover;
  height: 100%;
 // width: 100%;

 @include vp-1439 {
  min-width: size(324px);
  min-height: auto;
}
}

.programs__info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-column: 1/2;
  grid-row: 1/2;
  padding: size(20px);


  @include vp-1439 {
    padding-left: size(45px);
    padding-top: size(653px);
  }

  @include vp-767 {
    padding-left: size(15px);
    padding-top: size(213px);
  }
}

.programs__info-title {
  position: relative;
  padding: size(18px);
  padding-bottom: size(6px);
  background-color: $color-default-white;
  border-radius: size(12px) size(12px) 0 0;
  max-width: size(194px);

  @include vp-1439 {
    max-width: size(659px);
    padding: size(30px) size(50px) size(24px) size(40px);
  }

  @include vp-767 {
    max-width: size(290px);
    padding: size(20px) size(14px) size(16px) size(14px);
    border-radius: 0 size(16px) size(16px) 0;
  }

  h3 {
    font-size: size(24px);
    line-height: size(26px);
    font-weight: 400;
    color: $color-additional;
  }
}

.programs__info-title::after {
  content: "";
  position: absolute;
  display: block;
  width: size(20px);
  height: size(20px);
  bottom: size(-1px);
  right: size(-19px);
  background-image: url('../../img/hero/angle.svg');
  background-size: 100%;
  background-repeat: no-repeat;

  @include vp-767 {
    width: size(13px);
    height: size(13px);
    right: size(-12px);
  }
}

.programs__info-holder {
  display: flex;
  gap: size(30px);
  align-items: center;
  margin-top: size(-1px);
  padding: size(12px) size(18px) size(15px) size(18px);
  background-color: $color-default-white;
  border-radius: 0 size(12px) size(12px) size(12px);
  max-width: size(321px);

  @include vp-1439 {
    max-width: size(591px);
    padding: 0 size(40px) size(29px) size(40px);
  }
}

.programs__slider-controls {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: size(100px);
  display: flex;
  width: max-content;
  gap: size(10px);


  .programs__button {
    border: none;
    width: size(22px);
    height: size(22px);
    cursor: pointer;

      svg {
      width: size(10px);
      height: size(10px);
      color: $color-additional;
    }
  }
}

.programs__pagination-wrapper {
  position: relative;
  width: size(1134px);
  height: size(20px);
  padding-top: size(50px);
  padding-bottom: size(10px);
  overflow: hidden;
}

.programs {
  .swiper-pagination-bullet {
    width: size(390px);
    height: size(2px);
    margin: 0;
    margin-left: -4px;
    border-radius: 0;
    background-color: transparent;
    border: none;
    opacity: 1;

    @include vp-767 {
      width: size(8px);
      height: size(8px);
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $color-additional;
    opacity: 1;
    margin: 0;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 0;
    display: flex;
    gap: 32px;
    flex-wrap: nowrap;
    width: max-content;
    padding: 0;
    background-color: $color-additional-2;
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
  }
}
